

.clock-dial{
    width: 500px;
    height: 500px;
    border: 20px solid rgb(105, 138, 230);
    border-radius: 50%;
    margin: 0 auto;
    position: relative; 
    /* applying position to make other element relative to this */
}

.point{
    width: 20px;
    height: 20px;
    background-color: black;
    border-radius: 50%;
    position: absolute;
    top: 240px;
    left: 240px;
    /* 240 px = (dial width - point width) / 2
       (500px - 20px) /2 = 240px
    */
}

.hour{
    --rotation: 0;
    font-size: 30px;
    font-weight: bold;
    color: black;
    position: absolute;
    /* background-color: aqua; */
    width: 100%;
    height: 100%;
    /* width, height and background color helped to visualize the numbers position */
    text-align: center;
    transform: rotate(var(--rotation));

}

.hour-1{--rotation: 30deg;}
.hour-2{--rotation: 60deg;}
.hour-3{--rotation: 90deg;}
.hour-4{--rotation: 120deg;}
.hour-5{--rotation: 150deg;}
.hour-6{--rotation: 180deg;}
/* .hour-6{
    top :500px;
} */
.hour-7{--rotation: 210deg;}
.hour-8{--rotation: 240deg;}
.hour-9{--rotation: 270deg;}
.hour-10{--rotation: 300deg;}
.hour-11{--rotation: 330deg;}
.hour-12{--rotation: 0deg;}

.second-hand-wrapper{
    width : 400px;
    height: 400px;
    /* background-color: lightblue; */
    position: absolute;
    top: 50px;
    left: 50px;
    border-radius: 50%;
}

.second-hand{
    position: relative;
}

.second-hand{
    width: 2px;
    height: 200px;
    background-color: black;
    position: absolute;
    left: 199px;
    /* 199px = (second.hand.wrapper(400px) - second.hand.width(2px) / 2 */
}